<% layout('./layout') -%>
<% block('title', 'Login') -%>

<div class="container">
  <h2>Login</h2>
  <form id="login-form" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <span class="help-block error"></span>
  </form>
</div>
<script>
  $(document).ready(function() {
    $("#login-form").on("submit", function() {
      let form = $(this);
      $.ajax({
        method: "POST",
        url: "/login",
        data: form.serialize(),
        success: function() {
          window.location.href = "/tasks";
        },
        error: function() {
          $('.error', form).html("Ошибка авторизации");
        }
      });
    return false;
    });
  });
</script>